<div class="about">
<img src="../images/code.jpg" />
<h2>About</h2>
<p><em>JPKIOT</em> is a cronicle of my journey through web devlopment electronics and IOT hackery.</p>
<p>I will describe my projects, the ups and downs, what I learned along the way and hopefully have lots of fun.</p>
<p>Follow me on:</p>
      <div class="social">
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/@jpkiot">
                <span class="fa fa-twitter"></span>
            </a>
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/jpkiot/">
                <span class="fa fa-facebook"></span>
            </a>
            <a class="btn btn-social-icon btn-github" href="https://github.com/jpkiot">
                <span class="fa fa-github"></span>
            </a>
        
        </div>
</div>